<!DOCTYPE html>
<html lang="en">
    <head>
        <mata charset="UTF-8">
            <meta name="viewport"content="width=device-width,initial-scale=1.0">
            <title>Home Page</title>

    </head>
    <body>
        <h1>This is the home page </h1>
        <h3>This is the ejs tags <%= 3+4 %></h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minima, accusamus tempore architecto obcaecati eum harum. Accusantium vitae impedit reiciendis, facere porro nam labore adipisci nobis, deserunt ut at similique nostrum ratione cum corrupti fugit doloribus. Similique saepe, illo fugit quis repellendus, eos adipisci error quos accusantium, vero numquam in.

        </p>

        <button>Click me!

        </button>
    </body>
</html>